## Python Basic Programming Assingment (SAGAR MORE)

## Q1: What is the output of following expression:
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
5 + 4 * 9 % (3 + 1) / 6 - 1             #  Left to right associative and the 1st presidence will be given to () 

5 + 4 * 9 % 4 / 6 - 1                  ## In ( ) the operator + will work and gives out put 

5 + 36 % 4 / 6 - 1                     ## As the 3rd most presidence will be given to *, / , % and its assosiatvity is from 
                                       ## left to right so * execute first
    
5 + 0 / 6 - 1                          ## As in the following exp. from L-R % have high presidence so 36 % 4 will excecuted 


5 + 0.0 - 1                 ## As in the following exp from L-R "/" have high presidence so 0/6  as it gives value in decimal 

5.0 - 1                                 ## as the additon will ex. from L-R 

4.0                                     ## only 1 opretor is remain that is "-"



### The result is "4.0"

## Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [ ]:
x = int(input("Pls enter an integer without decimal : "))


if x == 0:
    
    print("you have enter a first even number : " , x  )

    
elif x % 2 == 0 :
    
    print(" You have enter a even number :  ", x )

    
else :
        
    print("you have enter a odd number : ", x)

## Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [2]:

## This program will give you the  table of a number upto you wish  : 

x = int(input("pls enter an integer without decimal whoes table  you want  : " ))

j = int(input ('''pls enter an interger upto which you want x number to produce the table  ,  for 
                 ex -:    if you want upto 10 so that means  2x1 , 2x2.... 2x10 : '''))

i= 1 

while i<= j :
        
    z = x * i 
       
    print ( x ,"X", i , "=", z )
        
    i= i+1

pls enter an integer without decimal whoes table  you want  : 6
pls enter an interger upto which you want x number to produce the table  ,  for
                 ex -:    if you want upto 10 so that means  2x1 , 2x2.... 2x10 : 10
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60


## Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
x = 2001 

y = 3200 



while x < y :
    
    if (x%7 == 0) & (x%5 !=0) :
        
        print(x, end = " , ") 
        
          
    x = x+1

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

##  Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [6]:
 
x = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 


no_int = [i for i in x if type(i)== int]

no_float = [i for i in x if type(i)== float]

no_string = [i for i in x if type(i)== str]

no_boolen = [i for i in x if type(i)== bool]


print('1) The integer data type element in x :' , no_int, " and the count of integer type element is : ", len(no_int) , " \n" ) 

print('2) The float data type element in x :' , no_float, " and the count of float type element is : ", len(no_float), " \n") 

print('3) The string data type element in x :' , no_string, " and the count of string type element is : ", len(no_string), " \n") 

print('4) The boolen data type element in x :' , no_boolen, " and the count of boolen type element is : ", len(no_boolen))

1) The integer data type element in x : [2, 3, 1, 3, 7]  and the count of integer type element is :  5

2) The float data type element in x : [5.5]  and the count of float type element is :  1

3) The string data type element in x : ['Py', '10', 'SQL', 'John']  and the count of string type element is :  4

4) The boolen data type element in x : [True]  and the count of boolen type element is :  1

# Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [8]:
x = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

i= 0 
sum = 0
while  i < len(x) : 
    
    if (type (x[i])) == int : 
        
         sum = x[i] + sum     
    
    i= i + 1 
    
print(" The sum of the number of the integer data type of the given list is : ", sum )

 The sum of the number of the integer data type of the given list is :  16

# Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [1]:
x = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

i= 0 

while  i < len(x) : 
    
    if (type (x[i])) == str : 
    
       print(x[i], end = "-"  )  

    i = i + 1

Py-10-SQL-John-

# Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [5]:
def cal_sumC(*x):
    '''This function will give you the sum of integers and will also count the strings for you and give the output '''
    
    no_int = [i for i in x if type(i)== int]
    no_string = [i for i in x if type(i)== str]

    sum_int = 0

    for i in no_int: 
        
        sum_int = sum_int + i
          
    return "Sum : ", sum_int, 'Count_of_Strs :', len(no_string)

# Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [80]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
odd_num = [i for i in li if i%2 != 0 ]


print (odd_num)

[5, 7, 97, 77, 23, 73, 61]

# Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [6]:
def cal_fun(*x, y="sum" ):
    '''This function will excecutes 5 things for the user : sum- sum of all elements , count - count the no of elements ,
    min - smallest element , max - the biggest elemet and mean - mean of all the elements '''
    '''You need to put integers in 1st argument and in 2nd argument you need to put the operation you want to excecute. if 
    not mention the 2nd argument by defualt it will calculate the sum of integers'''
    y = y.lower()
    
    no_int = [i for i in x if type(i)== int]

    sum_int = 0
    for i in no_int: 
        
        sum_int = sum_int + i
        
    no_int.sort()
    if y == "sum":
         
        return " sum of numbers are : " , sum_int
    
    elif y=="count":
        
        return "The number of elements in list is  : ", len(x)
    
    
    elif y=="min":
        
        return  "The smallest number is : ", no_int[0]
              
    elif y=="max":
        
        return  "The largest number is : ", no_int[-1]
    
    elif y=="mean":
        
        mean = sum_int/len(x)
        
        return " The mean of the numbers are : " , mean

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [1]:


def cal_area(shape,**dim):
    '''In this function you need to give atleast 1 positional argument of shape : you have 3 options square, rectangle and circle 
    and 1 kwargs argument in which you need to give dimention of the shape in integer format'''  
    
    '''1) For square you need to give 1 kwargs argument of side as s'''
    '''2) For rectangle you need to give 2 kwargs argument of length as l and breadth as b'''
    '''3) For circle you need to give 1 kwargs argument of radius as r'''
    
    
    shape = shape.lower()

    if shape == "square":
        
        area = dim['s']**2
        
        return area 

    elif shape == "rectangle":
        area = dim["l"]*dim["b"]
        
        return area 


    elif shape == "circle":
        
        area = 3.14 *((dim["r"])**2)
        
        return area

# Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [2]:
def sort_list(l1,l2):
     
    l1 = {'January', 'February', 'March', 'May', 'June', 'September', 'December'}
    l2 = {'January', 'February', 'April', 'June', 'October', 'December'}

    

    x = l1.intersection(l2)

    y= l1.difference(l2)
    

    z= l2.difference(l1)

    x= list(x)
    y= list(y)
    z= list(z)


    return 'Matched:',x,'Only in l1:',y,  'Only in l2:', z

Q13: write a UDF to check if a number is prime or not.

In [9]:

def check_prime(x):
    '''It will verify whether a number is prime or not '''
    
    if (x == 2) | (x ==3) | (x == 5) | (x==7) :

        return "You have entered an first four prime number :", x
    
    elif x==0 :
        
        return " Zero is neither prime nor composite number :", x
    
    elif x==1 :
        return "You have entered the 1st prime number : ", x
    

    elif (x % 2!=0) & (x%3!=0) & (x%5!=0) & (x%7!=0):
    
        return "The Entered number is a prime number  : " , x
    
    else :       
        return " The Entered number is not a prime number ", x

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [52]:
x = int(input("Pls enter any number "))

i = 1

f = 1

while i<= x:
    
    f= f * i                             ## f= 1, i = 2 ...  f=2, i= 3...  f=6 , i=4 ... f=24 , i= 5 
    
    i= i + 1  

print("The factorial of the number : ", x, " is " , f)

Pls enter any number 5
The factorial of the number :  5  is  120

### Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [10]:
x= {1,2,3,4,5,6,7,8}

{i:i**2 for i in x}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [11]:
values = input("Input some comma seprated numbers : ")

list = values.split(",")

tuple = tuple(list)

print('List : ',list)

print('Tuple : ',tuple)

Input some comma seprated numbers : 34, 67, 55, 33, 12, 98
List :  ['34', ' 67', ' 55', ' 33', ' 12', ' 98']
Tuple :  ('34', ' 67', ' 55', ' 33', ' 12', ' 98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [2]:
values = input("Input some comma seprated words  : ")

list = values.split(",")

list.sort()

list

Input some comma seprated words  : sagar , more , chetan

[' chetan ', ' more ', 'sagar ']

 ## Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
x = input(" Pls enter any string as you which : ")

x = x.split()

x= set(x)

x


# Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x = input("Pls Enter the string in which you want to count the upper and lower case : ")
count_upp = 0
count_low = 0

for i in x: 
    
    if i.isupper() == True : 
        count_upp = count_upp+1
        
    elif i.islower() == True: 
        count_low = count_low+1


print (" UPPER CASE : ", count_upp , "lower case : ", count_low)

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [ ]:
values = input("Input some comma seprated words  : ")

values [::-1]